#chat-screen {
  background-color: #efefef;
  height: 300vh;
}
#chat-screen .alt-header {
  position: sticky;
  margin-top: 0px;
  top: 27px;
  width: 100%;
  box-sizing: border-box;
  background-color: #efefef;
  z-index: 1;
}
@keyframes fadeIn {
  from {
    transform: translateY(-30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}
.main-chat {
  margin-top: 20px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.chat__timestamp {
  color: rgba(50, 54, 55, 0.3);
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.03);
  padding: 5px 25px;
  font-size: 15px;
  border-radius: 25px;
  margin-bottom: 20px;
  animation: fadeIn 0.8s linear;
}
@keyframes bullet-left {
  0% {
    opacity: 0;
  }
  100% {
    transform: none;
  }
}
.message__left {
  transform: translateX(-180px);
  animation: bullet-left 0.25s ease-in forwards;
}
.message__img__left {
  position: absolute;
  top: 50px;
}
.message-row .message__author__left {
  position: absolute;
  top: 50px;
  left: 85px;
  animation-delay: 0.3s;
}
.message-row .message__bubble__left {
  position: absolute;
  top: 70px;
  left: 85px;
  animation-delay: 0.6s;
}
.message-row .message__time__left {
  position: absolute;
  top: 100px;
  left: 145px;
  animation-delay: 0.9s;
}
@keyframes bullet-right {
  0% {
    opacity: 0;
  }
  100% {
    transform: translateX(-12px);
  }
}
.message-right {
  animation: bullet-right 0.4s ease-in forwards;
  transform: translateX(280px);
}
.message-row--own .message__bubble__right {
  position: absolute;
  top: 150px;
  animation-delay: 0.2s;
}
.message-row--own .message__time__right {
  position: absolute;
  top: 180px;
  right: 220px;
  animation-delay: 1.2s;
}
.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
}
.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.message__author {
  margin-bottom: 5px;
  display: block;
  font-weight: 600;
}
.message__info {
  display: flex;
  align-items: flex-end;
}
.message__bubble {
  background-color: white;
  font-size: 20px;
  padding: 13px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 5px;
}
.message__author,
.message__time {
  opacity: 0.8;
  font-size: 14px;
  font-weight: 500;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}
.message-row--own {
  width: 100%;
  display: flex;
  margin-bottom: 25px;
  justify-content: flex-end;
  position: absolute;
  animation: bullet-right 0.5s ease-in forwards;
}
.message-row--own .message__bubble {
  background-color: var(--yellow);
  border-top-right-radius: 0px;
  border-top-left-radius: 15px;
  margin-right: 0px;
  margin-left: 5px;
  animation-delay: 1s;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.reply .reply__column:first-child {
  width: 10%;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  box-sizing: border-box;
  padding: 5px 7px;
  height: 40px;
  width: 100%;
  border: var(--main-border);
  border-radius: 20px;

  transition: all 0.3s linear;
}
.reply__column:last-child button {
  position: absolute;
  right: 2px;
  top: 2px;
}
.reply__column:last-child > i {
  position: absolute;
  right: 40px;
  top: 15px;
}
.reply i {
  opacity: 0.5;
}
.reply__column button i {
  opacity: 1;
}
.reply__column button {
  background-color: var(--yellow);
  border: none;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.reply__column button:focus,
.reply__column button:active {
  outline: none;
}
.reply .reply__column:first-child,
.reply .fa-smile-wink,
.reply button {
  transition: opacity 0.3s ease-in-out;
}
.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile-wink,
.reply:focus-within button {
  opacity: 0;
}
.reply input:focus {
  width: 95vw;
  transform: translateX(-13%) translateY(-80px);
}
.reply:focus-within {
  transform: translateY(80px);
}
