.badge{
    background-color:tomato;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: white;
    font-weight: 600;
}
.badge--small{
    background-color: tomato;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position:absolute;
    left: 27px;
    bottom: 27px;
}
.badge--small--tiny{
    background-color: tomato;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position:absolute;
    left: 20px;
    bottom: 20px;
}